<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
  <div class="pagination"><%= will_paginate models %></div>  
  
  <h4><%=t(@title)%></h4>
  <table class="table table-striped">
    <tr>
      <th><%= t('Create Date') %></th>
      <th><%= t('Name') %></th>
      <th><%= t('Brief Note') %></th>
      <th><%= t('Ranking Order') %></th>
      <th><%= t('Active') %></th>
      <th><%= t('Entered By') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% models.each do |r| %>
        <tr>
          <td><%= (r.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
          <td><%= r.name %></td>
          <td><%= r.brief_note %></td>
          <td><%= r.ranking_order %></td>
          <td><%= r.active ? t('Yes') : t('No') %></td>
          <td><%= r.last_updated_by.name %></td>
          <td><%= link_to t('Edit'), edit_type_path(r, :format => :js), 
                           :remote => true, :class => BUTTONS_CLS['action'] if has_action_right?('update', params[:controller], r) %></td>
          <td><%= link_to t('New Task Template'), eval(simple_typex.new_task_template_path), :class => BUTTONS_CLS['action'] if has_action_right?('new', SimpleTypex.task_template_resource.to_s) %></td>
          <td><%= link_to t('Task Templates'), SUBURI + "/authentify/view_handler?index=1&url=#{eval(simple_typex.index_task_template_path)}", :class => BUTTONS_CLS['action'] if has_action_right?('index', SimpleTypex.task_template_resource.to_s) %></td>
        </tr>
    <% end %>

  </table>

	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t("New Type"), new_type_path( :format => :js), :remote => true, 
               :id => 'new_log_link', :class => BUTTONS_CLS['action'] if has_action_right?('create', params[:controller]) %>
	    </th>
	  </tr>
	</table>
	
<% end %>

